{% extends 'layouts/base.html' %}

{% block title %} January {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">P1 Raised</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{data[0]}}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-critica shadow text-center border-radius-md">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Closed</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{num_closed[0]}}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-closed shadow text-center border-radius-md">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Opened</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{num_op[0]}}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-opened shadow text-center border-radius-md">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Backlog</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{num_bl[0]}}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-backlog shadow text-center border-radius-md">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-5">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 mb-lg-0 mb-4 ">
          <div class="card z-index-2">
            <div class="card-header pb-0">
              <h6>Percentage SLA Met</h6>
              <p class="text-sm">

              </p>
            </div>
            <div class="card-body p-2">
              <div class=" border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="270"></canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0"> Mean time to Resolution </h6>
              <div class="container border-radius-lg">
                <div class="row">
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-critica text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Crítica</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_me[0]}}</h4>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-alta text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Alta</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_me[1]}}</h4>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-media text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Media</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_me[2]}}</h4>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-baja text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Baja</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_me[3]}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-0 mb-4 ">
          <div class="card w-95 z-index-2">
            <div class="card-header pb-0">
              <h6>Percentage SLA not Met</h6>
              <p class="text-sm">

              </p>
            </div>
            <div class="card-body p-2">
              <div class=" border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars1" class="chart-canvas" height="270"></canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0"> Mean time to Resolution </h6>
              <div class="container border-radius-lg">
                <div class="row">
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-critica text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Crítica</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_not_me[0]}}</h4>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-alta text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Alta</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_not_me[1]}}</h4>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-media text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Media</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_not_me[2]}}</h4>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-baja text-center me-2 d-flex align-items-center justify-content-center">
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Baja</p>
                    </div>
                    <h4 class="font-weight-bolder">{{mtbr_not_me[3]}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6">
        <div class="card z-index-2">
          <div class="card-header pb-0">
            <h6>Opened per Priority</h6>
            <p class="text-sm">

            </p>
          </div>
          <div class="card-body p-3">
            <div class=" border-radius-xl py-3 pe-1 mb-3">
              <div class="chart">
                <canvas id="chart-bars2" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-6 ">
        <div class="card w-auto z-index-2">
          <div class="card-header pb-0">
            <h6>Closed per Priority</h6>

          </div>
          <div class="card-body p-3">
            <div class=" border-radius-lg py-3 pe-1 mb-3">
            <div class="chart">
              <canvas id="chart-bars3" class="chart-canvas" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row mt-6">
      </div>
      <div class="row my-4">
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-lg-6">
        <div class="card z-index-2">
          <div class="card-header pb-0">
            <h6>Open vs CLosed</h6>
            <p class="text-sm">

            </p>
          </div>
          <div class="card-body p-3">
            <div class=" border-radius-xl py-3 pe-1 mb-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-6 ">
        <div class="card w-auto z-index-2">
          <div class="card-header pb-0">
            <h6>P1 Raised Weekly</h6>

          </div>
          <div class="card-body p-3">
            <div class=" border-radius-lg py-3 pe-1 mb-3">
            <div class="chart">
              <canvas id="chart-line1" class="chart-canvas" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row mt-6">
        <div class="col-lg-12">
        <div class="card z-index-2">
          <div class="card-header pb-0">
            <h6>Incident per Type</h6>
            <p class="text-lg">

            </p>
          </div>
          <div class="card-body p-3">
            <div class=" border-radius-xl py-3 pe-1 mb-3">
              <div class="chart">
                <canvas id="chart-line2" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ['Critica','Alta','Media','Baja'],
        datasets: [{
          label: "Incidenct",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 10,
          borderSkipped: false,
          backgroundColor: ["rgb(0, 105, 192)","rgb(0, 138, 197)","rgb(0, 169, 181)","rgb(1, 198, 152)"],
          data: {{perc}},
          maxBarThickness: 100
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: true,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            },
          },
        },
      },
    });
    var ctx1 = document.getElementById("chart-bars1").getContext("2d");

    new Chart(ctx1, {
      type: "bar",
      data: {
        labels: ['Critica','Alta','Media','Baja'],
        datasets: [{
          label: "Incidenct",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 10,
          borderSkipped: false,
          backgroundColor: ["rgb(0, 105, 192)","rgb(0, 138, 197)","rgb(0, 169, 181)","rgb(1, 198, 152)"],
          data: {{perc_not}},
          maxBarThickness: 100
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 100,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            },
          },
        },
      },
    });

    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17'],
        datasets: [{
            label: "Closed",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "rgb(11, 29, 120)",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: false,
            data: {{number1}},
            maxBarThickness: 6

          },
          {
            label: "Opened",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "rgb(32, 224, 116)",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: false,
            data: {{number1_op}},
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line1").getContext("2d");

    var gradientStroke1 = ctx3.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx3.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17'],
        datasets: [{
            label: "P1 Raised",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "rgb(0, 105, 192)",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: false,
            data: {{wcr}},
            maxBarThickness: 6

          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
    var ctx4 = document.getElementById("chart-line2").getContext("2d");

    var gradientStroke1 = ctx4.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx4.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx4, {
      type: "bar",
      data: {
        labels: ['SECURITY ISSUE', 'SOFTWARE WARNING', 'HARDWARE FAILURE', 'DEFAULT', 'TELEPHONY FAILURE', 'PERFORMANCE ISSUE', 'DATA ISSUE', 'SECURITY ISSUE.CYBERATTACKS', 'SOFTWARE FAILURE', 'COMMUNICATIONS FAILURE', 'PRINTING FAILURE', 'PROCESS FAILURE'],
        datasets: [{
            label: "Number of Incident",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 10,
          borderSkipped: false,
          backgroundColor: ["rgb(0, 69, 165)"],
          data: {{inc_mon}},
          maxBarThickness: 100

          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
    var ctx5 = document.getElementById("chart-bars2").getContext("2d");

    new Chart(ctx5, {
      type: "bar",
      data: {
        labels: ['Critica','Alta','Media','Baja'],
        datasets: [{
          label: "Incidenct",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 10,
          borderSkipped: false,
          backgroundColor: ["rgb(0, 105, 192)","rgb(0, 138, 197)","rgb(0, 169, 181)","rgb(1, 198, 152)"],
          data: {{opn_prio}},
          maxBarThickness: 100
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: true,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            },
          },
        },
      },
    });
    var ctx6 = document.getElementById("chart-bars3").getContext("2d");

    new Chart(ctx6, {
      type: "bar",
      data: {
        labels: ['Critica','Alta','Media','Baja'],
        datasets: [{
          label: "Incidenct",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 10,
          borderSkipped: false,
          backgroundColor: ["rgb(0, 105, 192)","rgb(0, 138, 197)","rgb(0, 169, 181)","rgb(1, 198, 152)"],
          data: {{cls_prio}},
          maxBarThickness: 100
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 100,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            },
          },
        },
      },
    });

  </script>

{% endblock javascripts %}